html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ccf5f3;
}

/*contem as informações da pagina toda*/
.container {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;
}

/*edita o cabecalho*/
.header {
    height: 8%;
    width: 100%;
    background-color: #2b4d64;

    display: flex;

}

.imagemLogo {
    width: 70%;
    height: 100%;
}

.Logo {
    margin-left: 3%;
    width: 5%;
    height: 100%;
}

.centraliza {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 10%;

}

/*configura a navbar*/
.navbar {
    width: 50%;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

/*edita os tamanhos dos botos*/
.nav {
    font-family: Verdana;

    font-size: large;
    text-decoration: none;
    color: #ccf5f3;
    cursor: pointer;
}

/*edita os tamanhos dos botos*/
.nav:hover {
    transform: scale(0.97);
    transition: .6s;
}

/*onde se inclui os itens de cada pagina*/
.mid {
    height: 87%;
    display: flex;
    flex-direction: column;

}

/*edita o rodape*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b4d64;
    height: 5%;
    width: 100%;
    
    position: fixed;
    bottom: 0;
    

 

}

/*edita o texto do rodape*/
.foot {
    font-size: x-large;
    color: #ccf5f3;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.meiozinho {
    height: 90%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.info {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.edit1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacao {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.edit2 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1,
h2 {
    color: #2b4d64;
}

table {
    border-collapse: collapse;
    width: 50%;
    height: auto;
    font-size: larger;
    table-layout: auto;

    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
}


th {
    height: auto;
    font-size: medium;
    padding: 9px;
    background-color: #2b4d64;
    color: #ccf5f3;

}



tr:nth-child(2n) {

    background-color: #138f8981;

}

table,
tr,
th,
td {
    border: 1px black;
    text-align: center;
    font-family: sans-serif;
}

.listaUsers {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;

    overflow: auto;
}

button {
    width: 30%;
    height: 12%;
    cursor: pointer;
}

input {
    width: 30%;
    height: 10%;

}

select {
    width: 30%;
    height: 10%;
}

#usuarioBuscado {
    padding: 2%;
}