html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*contem as informações da pagina toda*/
.container{
    height: 100%;
    width: 100%;
    background-color: #ccf5f3   ;
    margin: 0px;
    padding: 0px;
}
/*edita o cabecalho*/
.header{
    height: 8%;
    width: 100%;
    background-color: #2b4d64;

    display: flex;

}
.imagemLogo{
    width: 50%;
    height: 60%;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    width: 5%;
    height: 100%;
}
.centraliza{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 8%;
}
/*configura a navbar*/
.navbar{
    width: 50%;
    align-items: center;

    display: flex;
    justify-content: space-between;
}
/*edita os tamanhos dos botos*/
.nav{
    font-family: Verdana;
    
    font-size: large;
    text-decoration: none;
    color:#ccf5f3 ;
    cursor: pointer;
}
/*edita os tamanhos dos botos*/
.nav:hover{
    transform: scale(0.97);
    transition: 100ms;
}
/*onde se inclui os itens de cada pagina*/
.mid{
    height: 87%;
    display: flex;
    flex-direction: column;
}
/*edita o rodape*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b4d64;
    height: 5%; 
}
/*edita o texto do rodape*/
.foot{
    font-size: x-large;
    color: #ccf5f3;
}
.titulo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.conteudo{
    margin-top: 5%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}
.textos{
    display: flex;
    flex-direction:column ;
    width: 50%;
    height: 100%;
}



.subtitulo{ 
    width: 100%;
    height: 20%;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.textoPrincipal{
    width: 100%;
    height: 80%;
    text-align: center;
}
p{
    font-size: 0.5cm;
    color: #2b4d64;
}
h2{
    font-size: xx-large;
    color: #2b4d64;
}
h1{
    font-size: 1.5cm;
    color: #2b4d64;
}
.imageTela{
   
    box-shadow: 1px 3px 12px rgba(32, 32, 32, .3);
}
.image{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.linkbar{
    height: 20%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botoes{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
a{
    font-size: x-large;
}
