html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*contem as informaÃ§Ãµes da pagina toda*/
.container{
    height: 100%;
    width: 100%;
    background-color: #ccf5f3   ;
    margin: 0px;
    padding: 0px;
}
/*edita o cabecalho*/
.header{
    height: 8%;
    width: 100%;
    background-color: #2b4d64;

    display: flex;

}
.imagemLogo{
    width: 70%;
    height: 100%;
}
.Logo{
    margin-left: 3%;
    width: 5%;
    height: 100%;
}
.centraliza{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 8%;
}
/*configura a navbar*/
.navbar{
    width: 50%;
    align-items: center;

    display: flex;
    justify-content: space-between;
}
/*edita os tamanhos dos botos*/
.nav{
    font-family: Verdana;
    
    font-size: large;
    text-decoration: none;
    color:#ccf5f3 ;
    cursor: pointer;
}
/*edita os tamanhos dos botos*/
.nav:hover{
    transform: scale(0.97);
    transition: 100ms;
}
/*onde se inclui os itens de cada pagina*/
.mid{
    height: 87%;
    display: flex;
}
/*edita o rodape*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b4d64;
    height: 5%; 
}
/*edita o texto do rodape*/
.foot{
    font-size: x-large;
    color: #ccf5f3;
}
.cadastropcd{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.responsavel{
    height: 97%;
    width: 40%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.titulo{
    height: 100%;
    width: 20%;

}
.texto{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.botao{
    height: 45%;
    width: 100%;

    align-items: flex-end;
    display: flex;
    justify-content: center;
}
input, select{
    width: 40%;
    height: 5%;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
    
}
.cadastrar{
    width: 60%;
    height: 12%;
    cursor: pointer;  
    
    font-size: large;
}
.inputRespo{
    width: 40%;
    height: 10%;
}
.textoTitulo{
    font-family: Verdana;
    color: #2b4d64;
}
.textoSubtitulo{
    font-family: Verdana;
    color: #2b4d64;
    margin-right: 12%;
    
}

.textoSubtituloResponsavel{
    font-family: Verdana;
    color: #2b4d64;
    margin-left: 8%;
}