html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#container {
    color: black;
    height: 100%;
    width: 100%;
}

/*edita o cabecalho*/
.header{
    height: 8%;
    width: 100%;
    background-color: #2b4d64;

    display: flex;

}
.imagemLogo{
    width: 70%;
    height: 100%;
}
.Logo{
    margin-left: 3%;
    width: 5%;
    height: 100%;
}
.centraliza{
    width: 92%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 8%;
    
}
/*configura a navbar*/
.navbar{
    width: 50%;
    align-items: center;

    display: flex;
    justify-content: space-between;
}
/*edita os tamanhos dos botos*/
.nav{
    font-family: Verdana;
    
    font-size: large;
    text-decoration: none;
    color:#ccf5f3 ;
    cursor: pointer;
}
/*edita os tamanhos dos botos*/
.nav:hover{
    transform: scale(0.97);
    transition: 100ms;
}

#middle {
    height: 87%;
    width: 100%;
    background-color: rgb(204, 245, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#letra {
    color: #112B3C;
}

/*edita o rodape*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b4d64;
    height: 5%; 
}
/*edita o texto do rodape*/
.foot{
    font-size: x-large;
    color: #ccf5f3;
}



#usuarioInput {
    height: 5%;
    width: 20%;
}

#senhaInput {
    height: 5%;
    width: 20%;
}

#button {
    height: 5%;
    width: 20%;
}